* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.gridContainer {

    border: 2px solid blue;
    height: 480px;
    width: 480px;
    display: flex;

}

.rowDiv {
    display: flex;
    flex-direction: column;


    flex-grow: 1;

}


.columnDiv {

    flex: 1 0 auto;
    height: auto;

}

.backgroundBlue {
    background-color: blue;
}